<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">

        <!--For extraction of styles-->
        <%- style %>
    </head>

    <body>
        <!--Including header-->
        <%- include('_header'); %>

        <!--Variable part-->
        <%- body %>

        <!-- including footer-->
        <%- include('_footer'); %>

        <!-- For extraction of scripts-->
        <%- script %>
    </body>
</html>