<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <!--For extraction of styles-->
        <%- style %>
    </head>

    <body>
        <!--Including header-->
        <%- include('_header'); %>

        <!--flash messages-->
        <% if(flash.success && flash.success.length>0){%>
            <h5>
                <%= flash.success %>
            </h5>
        <%}%>

        <main id="layout-main">
            <!--Variable part-->
            <%- body %>
        </main>

        <!-- including footer-->
        <%- include('_footer'); %>

        <!-- For extraction of scripts-->
        <%- script %>
    </body>
</html>